@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding-bottom: 120px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color:  	#282b30;
}

header {
  background: var(--dark-bg);
  font-size: 3.5rem;
  text-align: center;
  margin: 0% !important;
}

section {
  grid-column: 3 / 11;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.left {
  grid-column: 6 / 12;
}

#head_p {
  margin: 0% !important;
  font-family: 'Montserrat';
}

.about-me {
  grid-column: 2 / span 10;
  line-height: 1.02;
  margin-bottom: 1000px;
}

.about-me h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 150%;
  text-align: center;
}

.about-me p {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr)
}

#calendar {
  grid-column: 4 / span 6;
}

.buttons {
  grid-column: 2 / span 4;
  text-align: center;
  color: white;
  overflow-x: hidden;
}

.buttons a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'Bebas Neue';
  font-size: 1.9em;
  margin-left: 2%;
}

#projects {
  margin: 0;
  background: none;
}

#projects h1 {
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  line-height: 1rem;
  text-align: center;
}

.projects {
  background: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 0;
}